*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    /* border: 1px solid red; */
    width: 100%;
    height: 80px;
}

.main-header-container{
    /* border: 1px solid purple; */
    width: 75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logo-img{
    width: 25px;
}

.nav-container{
    display: flex;
    gap: 1.5rem;

}

.nav-container>li,a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(45, 43, 43);
    
}

.nav-container>li>a:hover{
    color: rgb(153, 93, 209);
    /* color: rgb(189, 52, 61); */

}

.contact-button{ 
    /* width: 100px; */
    /* height: 30px; */
    background-color: rgb(153, 93, 209);
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    /* padding: 0.5rem; */
    padding: 0.5rem 0.75rem;
    /* align-items: center; */
    /* margin: auto 0; */

}

.hamburger-menu{
    width:30px;
    margin-right: 1rem;
    display: none;

}

.contact-button:hover{
    background-color: rgb(78, 16, 136);
}

.main-content{
    width: 100%;
    /* border: 1px solid green; */
}

.main-section{
    /* border: 1px solid orangered; */
    width: 75%;
    /* height: 80px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

}

.content-left{
    /* border: 1px solid black; */
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
    
}

.content-intro{
    color: rgb(85, 33, 133);
}

.content-desc{
    color: rgb(135, 125, 125);
}

.main-section-button-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.start-btn,.tour-btn{
    background-color: rgb(153, 93, 209);
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    /* padding: 0.5rem; */
    padding: 0.5rem 0.75rem;
    /* margin-top: 20rem; */
}

.tour-btn{
    background-color: rgb(61, 54, 54);
}

.content-right{
    /* border: 2px solid navy; */
    width: 100%;
    /* height: inherit; */
}

.main-content-img-container{
    /* border: 1px solid red; */
    width: 35vw;
    height: 55vh;
    margin: 0 auto;

   
}

.main-content-img-container>img{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
}
.company-container-heading{
    font-size: 2rem;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    background-color: rgb(216, 215, 215);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    border: none;
    /* outline: none; */
    padding: 0.5rem;
}

.company-logo-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

.company-logo{
    width: 1.5rem;

}

.company-text{
    font-size: 1.5em;
    font-weight: bold;
}

.card-section-container{
    width: 100%;
    border: 1px solid orangered;
}

.main-card-section{
    width: 75%;
    border: 1px solid black;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;

}

.main-card-section-heading{
    margin-bottom: 0.5rem;
    
}

.main-grid-container{
    border: 1px solid red;
    width: 75%;
    margin: 1rem auto;
   

}
.main-grid-card-container{
    border :1px solid blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    gap: 2rem;

}

.grid-card-container{
    background-color: rgb(94, 99, 225);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: rgb(238, 230, 230);
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

.grid-img-container{
    
    width: 50px;
    height: 50px;
    margin-top: 1rem;
    background-color: white;
    border-radius: 50% ;
    padding: 0.75rem;
}

.card1-img{
    width: 100%;
    height: 100%;
    
}

.grid-para{
    margin-bottom: 1.5rem;
    /* border: 1px solid red; */
    margin-left: 0.8rem;
    margin-right: 0.8rem;

}

@media screen and (max-width :865px) {
    .hamburger-menu{
        display:block;
    }

    .contact-button{
       display: none;
    }

    .nav-container{
        display: none;
    }
    
}

@media screen and (min-width :768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        text-align: start;
    }
    .main-section-button-container{
        justify-content: start;

    }

    .company-grid{
        grid-template-columns: repeat(4,1fr);

    }

   

    

}

@media screen and (max-width :768px) {

    .main-grid-card-container{
        grid-template-columns: repeat(1,1fr);
      }

}




