*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 1px solid red;
    width: 100%;
    height: 80px;
}

.main-header-container{
    border: 1px solid purple;
    width: 75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logo-img{
    width: 25px;
}

.nav-container{
    display: flex;
    gap: 1.5rem;

}

.nav-container>li,a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(45, 43, 43);
    
}

.nav-container>li>a:hover{
    color: rgb(153, 93, 209);
    /* color: rgb(189, 52, 61); */

}

.contact-button{ 
    /* width: 100px; */
    /* height: 30px; */
    background-color: rgb(153, 93, 209);
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    /* padding: 0.5rem; */
    padding: 0.5rem 0.75rem;
    /* align-items: center; */
    /* margin: auto 0; */

}

.hamburger-menu{
    width:30px;
    margin-right: 1rem;
    display: none;

}

.contact-button:hover{
    background-color: rgb(78, 16, 136);
}

.main-content{
    width: 100%;
    border: 1px solid green;
}

.main-section{
    border: 1px solid orangered;
    width: 75%;
    /* height: 80px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

}

.content-left{
    border: 1px solid palevioletred;
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.content-intro{
    color: rgb(202, 158, 244);
}

.content-desc{
    color: rgb(181, 174, 174);
}

.main-section-button-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.start-btn,.tour-btn{
    background-color: rgb(153, 93, 209);
    color: white;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    /* padding: 0.5rem; */
    padding: 0.5rem 0.75rem;
    /* margin-top: 20rem; */
}

.tour-btn{
    background-color: rgb(61, 54, 54);
}

.content-right{
    border: 2px solid navy;
    width: 100%;
    /* height: inherit; */
}

.main-content-img-container{
    border: 1px solid red;
    width: 60%;
    height: 300px;
    margin: 0 auto;

   
}

.main-content-img-container>img{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

@media screen and (max-width :865px) {
    .hamburger-menu{
        display:block;
    }

    .contact-button{
       display: none;
    }

    .nav-container{
        display: none;
    }
    
}


